.container {
  padding: 1rem 2rem;
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  font-size: 1.4rem;
  cursor: pointer;
  .filter {
    background: #a9a9c5;
    color: white;
    padding: 0.4rem 1rem;
    border-radius: 10px;
    margin: 1rem 1.6rem 0;
    &:last-child {
      margin-right: 0;
    }
    &.selected {
      background: #5959af;
    }
  }
}
@media screen and (max-width: 600px) {
  .filters {
    .filter {
      &:last-child {
        margin-right: 1.6rem;
      }
    }
  }
}
